<sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/" database="SqlServer">
		<powershell patch:source="Spe.config">
			<userAccountControl>
				<tokens>
					<token name="Default" expiration="00:00:00" elevationAction="Block"/>
					<token name="Console" expiration="00:05:00" elevationAction="Confirm"/>
					<token name="ISE" expiration="00:05:00" elevationAction="Confirm"/>
					<token name="ItemSave" expiration="00:05:00" elevationAction="Confirm"/>
				</tokens>
			</userAccountControl>
		</powershell>
</sitecore>