@use 'src/sass/abstracts' as *;

.servicesCard {
  width: 100%;
  background: $white;
  padding: 20px;
  border-radius: 4px;
  border-bottom: 8px solid $color-primary;
  color: $color-secondary;
  text-decoration: none;
  box-shadow: $box-shadow-darker;
  transition: $transition;
  position: relative;

  &:has(:focus),
  &:has(:hover) {
    transform: translateY(-10px);
  }

  .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: $bg-gray;
    display: flex;
    align-items: center;
    justify-content: center;

    svg,
    img {
      height: 32px;
      width: 32px;
    }
  }

  .title {
    font-size: rem(20);
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: $color-secondary;
  }

  .servicesCardLinkText {
    text-decoration: none;
    color: inherit;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .richText {
    font-size: rem(16);
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: $bp-md) {
    flex: 0 0;
    flex-basis: calc(50% - 10px);
  }

  @media (min-width: $bp-xl) {
    flex-basis: calc(25% - 17px);

    &:only-child {
      flex-basis: 100%;
    }

    &:first-child:nth-last-child(2),
    &:nth-child(2):last-child {
      flex-basis: calc(50% - 10px);
    }

    &:first-child:nth-last-child(3),
    &:nth-child(2):nth-last-child(2),
    &:nth-child(3):last-child {
      flex-basis: calc(33% - 10px);
    }

    .icon {
      height: 90px;
      width: 90px;

      svg,
      img {
        height: 48px;
        width: 48px;
      }
    }

    .title {
      font-size: rem(24);
      font-weight: 700;
      line-height: 28px;
    }

    .richText {
      font-size: rem(18);
      font-weight: 400;
      line-height: 28px;
    }
  }
}
