/* Defaults */
$black: #000 !default;
$white: #fff !default;
$orange: #e37222 !default;
$orange-bright: #d12e00 !default;
$green: #007f0b !default;
$red: #960000 !default;
$red-dark: #d62700 !default;
$yellow: #fdc82f !default;
$blue: #006896 !default;

/* Westfield colors */
$color-primary: #e03100 !default;
$color-primary-dark: #c81e00 !default;

$color-secondary: #4d514d !default;
$color-secondary-dark: #333 !default;
$color-secondary-light: #666666 !default;
$color-secondary-lighter: #949494 !default;
$color-secondary-lightest: #d9d9d9 !default;
$color-card-shadow: rgba(18, 30, 42, 0.15) !default;
$color-yellow-dark: #f1b828 !default;

$bg-gray: #f2f2f2 !default;
$offwhite: #f7f7f7 !default;
$error: #b00020 !default;
$error-light: #d06679 !default;
